---
---
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply
      text-sky-900
      underline-offset-[.2rem]
      underline
      decoration-sky-900/25
      decoration-2
    ;
  }

  a:hover,
  a:focus {
    @apply decoration-sky-900
  }

  a:focus {
    @apply
      outline-2
      outline-sky-900
      outline-dotted
      outline-offset-1
    ;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-sans font-bold mt-0 mb-[.65em];
    text-rendering: optimizeLegibility;
    line-height: calc(2px + 2ex + 2px);
  }

  h1 {
    @apply text-h1;
  }

  h2 {
    @apply text-h2;
  }

  h3 {
    @apply text-h3;
  }

  h4 {
    @apply text-h4;
  }
}

@layer components {
  .body-centered {
    @apply mx-auto my-0 px-mainBodyPadding max-w-md;
  }

  .social-icon {
    @apply relative bg-no-repeat inline-block align-middle w-[3rem] h-[3rem] opacity-75 transition ease-linear duration-500;
    background-image: url('/assets/img/external-icons.png');
    background-size: 800%;
  }

  .social-icon:hover,
  .social-icon:focus {
    @apply opacity-100;
  }

  .social-icon.github {
    background-position: calc((100% / 7 * 3)) 0;
  }

  .social-icon.twitter {
    background-position: calc((100% / 7 * 2)) 0;
  }

  .search-result {
    @apply py-2;
  }
}
