---
---
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply
      text-sky-900
      underline-offset-[.2rem]
      underline
      decoration-sky-900/25
      decoration-2
      dark:text-sky-500
      dark:decoration-sky-500/25
    ;

    &:hover,
    &:focus {
      @apply decoration-sky-900 dark:decoration-sky-500;
    }

    &:focus {
      @apply
        outline-2
        outline-sky-900
        outline-dotted
        outline-offset-1
        dark:outline-sky-500
      ;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-sans font-bold mt-0 mb-[.65em] dark:font-semibold;
    text-rendering: optimizeLegibility;
    line-height: calc(2px + 2ex + 2px);
  }

  h1 {
    @apply text-h1;
  }

  h2 {
    @apply text-h2;
  }

  h3 {
    @apply text-h3;
  }

  h4 {
    @apply text-h4;
  }

  pre {
    @apply
      overflow-auto
      max-w-md
      max-h-96
      block
      bg-sky-100
      p-4
      mb-4;
  }

  sub,
  sup {
    @apply text-sm -top-1.5;
  }
}

@layer components {
  .body-centered {
    @apply mx-auto my-0 px-mainBodyPadding max-w-md;
  }

  .social-icon {
    @apply relative bg-no-repeat inline-block align-middle w-[3rem] h-[3rem] opacity-75 transition ease-linear duration-500;
    background-image: url('/assets/img/external-icons.png');
    background-size: 800%;

    &:hover,
    &:focus {
      @apply opacity-100;
    }

    &.github {
      background-position: calc((100% / 7 * 3)) 0;
    }

    &.twitter {
      background-position: calc((100% / 7 * 2)) 0;
    }
  }

  .search-result {
    @apply py-2;
  }

  .article-body {
    p,
    ul,
    ol {
      @apply mb-4;
    }

    ul {
      @apply list-disc pl-4;
    }

    ol {
      @apply list-decimal pl-4;
    }
  }
}

/* Hide the page content while Google Web Font is loading in fonts */
html {
}

/* Fade in the page content once the fonts are ready */
.fonts-loaded {
}
