---
layout: default
---
<article class="article-body" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="">
    <p class="">
      {%- assign date_format = "%b %-d, %Y" -%}
      <time class="" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        | Edited:
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
    </p>
    <h2 class="" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="mb-4" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if page.categories.size > 0 -%}
    <div class="">
      Categories:
    </div>
  {% endif -%}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="" href="{{ page.url | relative_url }}" hidden></a>
</article>
